.App {
  text-align: center;
  display: grid;
  grid-template-columns: 65vw 35vw;
  grid-template-rows: 100vh;
  grid-template-areas: "map visualisations";
}

.mapview {
  grid-area: "map";
}

.visualisations {
  grid-area: "visualisations";
}


.leaflet-container {
  height: 100%;
  width: 100%;
}
