.App {
  text-align: center;
  display: grid;
  grid-template-columns: 60vw 40vw;
  grid-template-rows: 100vh;
  grid-template-areas: "map visualisations";
}

.mapview {
  grid-area: "map";
}

.visualisations {
  grid-area: "visualisations";
}


.leaflet-container {
  height: 100%;
  width: 100%;
}

.visualisation-actions {
  width: 100%;
  height: 10vh;
}

.btn-reset {
  background-color: #FF0023;
  border-radius: 1px;
  border: none;
  color: white;
  font-size: 16px;
  height: 50%;
  width: 50%;
}

.disabled {
  opacity: 0.5;
}